# Backend and Orchestration
fastapi
uvicorn
langchain
langchain-community
langchain-core
langchain_ollama
langchain-groq
langchain-google-genai

# Database and Memory
qdrant-client
sqlalchemy
psycopg2-binary
passlib[bcrypt]
pyjwt
python-multipart
# Browser Automation
playwright
playwright-stealth

# Frontend

# Scheduler
apscheduler

# LLM Integration
ollama

# For local embeddings
sentence-transformers

# For environment variable management
python-dotenv

# For GitHub API interactions
PyGithub

# For scraping jobs
python-jobspy

# resume
reportlab

#google-api-python-client
google-api-python-client
google-auth-httplib2
google-auth-oauthlib

#file and document handling
dramatiq

#ATS templating
python-docx